
<h1>Bootstrap</h1>
	<div style="height:50px;background: #333;" class="col-lg-4"></div>
	<div style="height:50px;background: #444;" class="col-lg-4"></div>
	<div style="height:50px;background: #555;" class="col-lg-4"></div>
	<br />
	<div style="height:50px;background: #333;" class="col-lg-4 col-md-4"></div>
	<div style="height:50px;background: #444;" class="col-lg-4 col-md-4"></div>
	<div style="height:50px;background: #555;" class="col-lg-4 col-md-4"></div>
	<br />
	<div style="height:50px;background: #444;" class="col-lg-8 col-md-8 col-sm-6 col-xs-1"></div>
	<div style="height:50px;background: #555;" class="col-lg-4 col-md-4 col-sm-6 col-xs-11"></div>


	